﻿@model IEnumerable<Ultimate_Packers_Website.GlobalModels.TblClients>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped compact nowrap" id="Table">
    <thead class="thead-dark">
        <tr>
            <td>Client ID</td>
            <td>Company Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Name</td>
            <td>Client Status</td>
        </tr>
    </thead>
    <tbody>
@foreach (var person in Model) {
        <tr> 
            <td><a asp-action="Details" asp-controller="Clients" asp-route-id="@person.ClientId">
                <i class="fa fa-eye"></i>
                @Html.DisplayFor(model => person.ClientId)
                </a></td>
            <td>@Html.DisplayFor(modelperson => person.CompanyName)</td>
            <td>@Html.DisplayFor(modelperson => person.PhoneNumber)</td>
            <td>@Html.DisplayFor(modelperson => person.EmailAddress)</td>
            <td>@Html.DisplayFor(modelperson => person.FirstName) @Html.DisplayFor(model => person.LastName)</td>
            <td>@Html.DisplayFor(modelItem => person.ClientStatus.ClientStatus)</td>
        </tr>
}
    </tbody>
</table>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('#Table').DataTable({
                "pageLength": 50
            });
        })
    </script>
}
