﻿<!-- top navigation -->
<div class="top_nav navbar-fixed-top">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <partial name="_LoginPartial" />
            </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->