﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Images/Logo.ico" type="image/ico" />
   
    <title>Ultimate Packers @ViewBag.Title </title>
    <partial name="_LinksBundle" />
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <!--Side nav-->
            <partial name="_SideNav.cshtml" />

            <!--Header navbar-->
            <partial name="_Header.cshtml" />

            <div class="right_col" role="main">
                <br /><br /><br />
                @RenderBody()
            </div>
        </div>
    </div>

   <partial name="_scriptsBundle" />
    @RenderSection("Scripts", required: false)
</body>
</html>
