﻿<link href="~/Template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="~/Template/vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="~/Template/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- bootstrap-progressbar -->
<link href="~/Template/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<!-- JQVMap -->
<link href="~/Template/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
<!-- bootstrap-daterangepicker -->
<link href="~/Template/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<!-- Custom Theme Style -->
<link href="~/Template/build/css/custom.min.css" rel="stylesheet">
<!--Data Tables-->
<link href="~/DataTables/jquery.dataTables.css" rel="stylesheet" />
<!--w3 schools-->
<link href="~/CSS/w3-StyleSheet.css" rel="stylesheet" />
<!--Custom Styles-->
<link href="~/CSS/site.css" rel="stylesheet" />