﻿@using Microsoft.AspNetCore.Identity
@using Ultimate_Packers_Website.Areas.Identity.Data
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!--from template-->
@{
    if (SignInManager.IsSignedIn(User))
    {
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="~/Images/defaultProfile.png" alt="">@UserManager.GetUserName(User)
            <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> Profile</a></li>
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/PersonalData">
                    <span>Settings</span>
                </a>
            </li>
            <li><a href="javascript:;">Help</a></li>
            <li>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Login")">
                <i class="fa fa-sign-out pull-right"></i><button type="submit">Log Out</button>
            </form>
            </li>
        </ul>
    }
    else
    {

    }
}


<!--Messages-->
<li role="presentation" class="dropdown">
    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-envelope-o"></i>
        <span class="badge bg-green">2</span>
    </a>
    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
        <li>
            <a>
                <span class="image"><img src="~/Images/defaultProfile.png" alt="Profile Image" /></span>
                <span>
                    <span>John Smith</span>
                    <span class="time">3 mins ago</span>
                </span>
                <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                </span>
            </a>
        </li>
        <li>
            <a>
                <span class="image"><img src="~/Images/defaultProfile.png" alt="Profile Image" /></span>
                <span>
                    <span>John Smith</span>
                    <span class="time">3 mins ago</span>
                </span>
                <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                </span>
            </a>
        </li>
        <li>
            <div class="text-center">
                <a>
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </li>

    </ul>
    <!--/from template-->
