﻿ <!-- jQuery -->
<script src="~/Template/vendors/jquery/dist/jquery-2.2.4.min.js"></script>
<!--Data Tables-->
<script src="~/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<!-- Bootstrap -->
<script src="~/Template/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="~/Template/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="~/Template/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="~/Template/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="~/Template/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="~/Template/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="~/Template/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="~/Template/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="~/Template/vendors/Flot/jquery.flot.js"></script>
<script src="~/Template/vendors/Flot/jquery.flot.pie.js"></script>
<script src="~/Template/vendors/Flot/jquery.flot.time.js"></script>
<script src="~/Template/vendors/Flot/jquery.flot.stack.js"></script>
<script src="~/Template/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="~/Template/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="~/Template/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="~/Template/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="~/Template/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="~/Template/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="~/Template/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="~/Template/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="~/Template/vendors/moment/min/moment.min.js"></script>
<script src="~/Template/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- Custom Theme Scripts -->
<script src="~/Template/Build/js/custom.min.js"></script>