﻿<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" href="~/Images/Logo.ico" type="image/ico" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    
    <partial name="_LinksBundle" />
</head>
<body>

    @RenderBody()
    
    <partial name="_scriptsBundle" />
    @RenderSection("Scripts", false)
</body>
</html>
