﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Images/Logo.ico" type="image/ico" />

    <title>Ultimate Packers Admin Pannel </title>
   
    <partial name="_LinksBundle" />
</head>

<body>
    <!-- top navigation -->
    <div class="top_nav navbar-fixed-top">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">

                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /top navigation -->
    <div>
        <br />
        <br />
        <br />
        @RenderBody()
    </div>

    <partial name="_scriptsBundle" />

    @RenderSection("Scripts", required: false)
</body>
</html>
