﻿@page
@model Ultimate_Packers_Website.Areas.Identity.Pages.Account.CompleteAccountSetupModel
@{
    ViewData["Title"] = "Complete Account Setup";
}

<h1>@ViewData["Title"]</h1>
<h1>@ViewData["usersName"]</h1>

        <div class="container-fluid">
            <div class="row">
                <form id="accountUpdate" method="post" asp-antiforgery="true">
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header">
                                Client Information
                            </h5>
                            <div class="card-body">
                                <p class="card-text">
                                    <dl class="form-group">
                                        <dt>Name<i style="color:red"> *</i></dt>
                                        <dd><input class="form-control" asp-for="Input.FirstName" placeholder="First" /></dd>
                                        <dd><input class="form-control" asp-for="Input.LastName" placeholder="Last" /></dd>
                                        <dd><input class="form-control" asp-for="Input.userName" placeholder="Username (optional)"/></dd>
                                        <dt>Company Info</dt>
                                        <dd><input class="form-control" asp-for="Input.CompanyName" placeholder="Company Name" /></dd>
                                        <dd><input class="form-control" asp-for="Input.Phone" placeholder="Phone Number" /></dd>
                                        <dd><input class="form-control" asp-for="Input.Email" placeholder="Email Address" /></dd>
                                    </dl>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header">
                                <strong>Billing Address</strong>
                            </h5>
                            <div class="card-body">
                                <p class="card-text">
                                    <address>
                                        <input asp-for="Input.BillingAddress1" placeholder="Address Line 1"/>
                                        <input asp-for="Input.BillingAddress2" placeholder="Address Line 2"/><br />
                                        <input asp-for="Input.City"placeholder="City"/><input asp-for="Input.State" placeholder="State"/><input asp-for="Input.zip" placeholder="Zip" /><br />
                                    </address>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header">
                                Credit Card Info
                            </h5>
                            <div class="card-body">
                                <p class="card-text">
                                    <dl class="form-group">
                                        <dt>Credit Card</dt>
                                        <dd><input class="form-control" asp-for="Input.NameOnCard" placeholder="Name On Card" /></dd>
                                        <dd><input class="form-control" asp-for="Input.CardNumber" placeholder="Card Number" /></dd>
                                        <dd><input class="form-control" asp-for="Input.Expiration" type="datetime" placeholder="Expiration" /></dd>
                                        <dd><input class="form-control" asp-for="Input.CVV" placeholder="CVV (Security Code)" /></dd>
                                        <dd>Is Default <input class="form-control" asp-for="Input.IsDefault" /></dd>
                                    </dl>
                                </p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark">Save</button>
                    </div>
                </form>
            </div>
         </div>
