﻿@page
@model LoginModel
    <h1>@ViewData["Title"]</h1>

    <!--from template-->
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form id="account" method="post">
                        <h1>Login Form</h1>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div>
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" placeholder="Username" required="" />
                            <span asp-validation-for="Input.Email"></span>
                        </div>
                        <div>
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" placeholder="Password" required="" />
                            <span asp-validation-for="Input.Password"></span>
                        </div>
                        <div>
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary submit">Log in</button>
                            <a class="reset_pass" asp-page="./ForgotPassword">Forgot your password?</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p>
                                Or
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="to_register"> Create Account </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1>Ultimate Packers inc.</h1>
                                <p>
                                    ©@DateTime.Now.Year All Rights Reserved. Ultimate Packers
                                    106 pierces Rd. Newburg NY
                                </p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

