﻿@page
@model RegisterModel
    <div>
        <div class="login_wrapper">
            <div class="form login_form">
                <section class="login_content">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" id="account">
                        <h1>Create Account</h1>
                        <div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <label asp-for="Input.Email"></label>
                            <input class="form-control" placeholder="Username" asp-for="Input.Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="Input.Password"></label>
                            <input class="form-control" placeholder="Password" asp-for="Input.Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input class="form-control" placeholder="Password" asp-for="Input.ConfirmPassword" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div>
                            <button class="btn btn-default submit" type="submit">Register</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a asp-page="./Login" class="to_register"> Log in </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1>Ultimate Packers inc.</h1>
                                <p>
                                    ©@DateTime.Now.Year All Rights Reserved. Ultimate Packers
                                    106 pierces Rd. Newburg NY
                                </p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
