﻿@model Ultimate_Packers_Website.GlobalModels.TblIoheader

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details for Inbound Order ID# @Model.IorderId</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Client ID</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.ClientId)</dd>
        <dt class = "col-sm-2">Name On Shippment</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.NameOnShipment)</dd>
        <dt class = "col-sm-2">Notes</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Notes)</dd>
        <dt class = "col-sm-2">Receiving Photo Request</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.ReceivingPhotoRequest)</dd>
        <dt class = "col-sm-2">Request Paperwork</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.RequestPaperWork)</dd>
        <dt class = "col-sm-2">Created By</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.CreateBy)</dd>
        <dt class = "col-sm-2">Status</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Status.StatusName)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IorderId" class="btn btn-default">Edit</a> |
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>
