﻿@model IEnumerable<Ultimate_Packers_Website.GlobalModels.TblIoheader>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_panel">
    <p>
        <a asp-action="Create" class="btn btn-default">Create New</a>
    </p>
    <table class="table" id="Table">
        <thead>
            <tr>
                <th>Iorder ID</th>
                <th>Name On Shippment</th>
                <th>Nots</th>
                <th>Receiving Photo Request</th>
                <th>Request Paperwork</th>
                <th>Created By</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                    <a asp-action="Details" asp-route-id="@item.IorderId">
                        <i class="fa fa-eye"></i> 
                        @Html.DisplayFor(modelItem => item.IorderId)
                    </a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.NameOnShipment)</td>
                    <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                    <td>@Html.DisplayFor(modelItem => item.ReceivingPhotoRequest)</td>
                    <td>@Html.DisplayFor(modelItem => item.RequestPaperWork)</td>
                    <td>@Html.DisplayFor(modelItem => item.CreateBy)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status.StatusName)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IorderId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.IorderId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Table').DataTable();
        })
    </script>
}
