﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row x_panel">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmailSendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
        <a asp-page="ChangePassword" class="btn btn-default">Change Password</a>
        <a href="/Identity/Account/CompleteAccountSetup" class="btn btn-default">Complete Account Setup</a>
    </div>
    </div>

<div class="col-md-12 col-sm-12 col-xs-12 x_panel">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Credit Card</div>
            <div class="card-body">
                <label>Card Ending In</label>
                <input asp-for="Input.Card"/>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Addresses</div>
            <div class="card-body">
                <address>
                    @Model.Input.Addresses.AddressLine1
                    @Model.Input.Addresses.AddressLine2
                    @Model.Input.Addresses.City
                </address>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
