﻿@model Ultimate_Packers_Website.ViewModels.OpenShipmentsViewModel

    <table class="table-bordered">
        <thead>
            <tr>
                <th>Item Number</th>
                <th>Qty</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BoxDetails)
            {
                <tr>
                    <td>@item.ItemNumber</td>
                    <td>@item.Qty</td>
                </tr>
            }
        </tbody>
    </table>


