﻿@model Ultimate_Packers_Website.ViewModels.OpenShipmentsViewModel

<div class="x_panel">
    <hr />
    <table class="table-borderless">
        <thead>
            <tr>
                <th>FBAShipment Box Id</th>
                <th>Time Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Boxes)
            {
                <tr>
                    <td>@item.FbashipmentBoxId</td>
                    <td>@item.Time</td>
                </tr>
            }
        </tbody>
    </table>
</div>