﻿@model Ultimate_Packers_Website.ViewModels.ChangeLocationViewModel
@{
    var id = ViewBag.id;
    var currentLocation = Model.LicencePlates.Location.LocationName;
}




<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">
            Change Location
        </h5>
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body" id="body">
        <form method="post" asp-action="ChangeLocation">
            <div class="form-group">
                <label class="label">LP ID</label>
                <input class="form-control" readonly="readonly" asp-for="LicencePlates.Lpid" value="@ViewBag.id" />
                <label>Current Location</label>
                <input value="@currentLocation" />
            </div>
            <div class="form-group">
                <label class="label">Select Location</label>
                <div>
                    <select asp-for="Locations" 
                            asp-items="@(new SelectList(Model.Locations, "LocationId", "LocationName"))"
                            class="dropdown">
                        <option>Select Location</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">
            Save changes
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
        </button>
            </div>
        </form>
    </div>
    <div class="modal-footer">

        
    </div>
</div>