﻿@model IEnumerable<Ultimate_Packers_Website.GlobalModels.TblItems>
<!DOCTYPE html>

<h3>Hello from out ViewComponent</h3>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Client</li>
    }
</ul>