﻿@model Ultimate_Packers_Website.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1><strong>Admin Dashboard</strong></h1>

<div>@await Component.InvokeAsync("Admin", new { Component = "Locations" })</div>

<div>@await Component.InvokeAsync("Admin", new { Component = "LicensePlates"})</div>

