﻿@model IEnumerable<Ultimate_Packers_Website.GlobalModels.TblLicencePlates>
@{
    ViewData["Title"] = "Location Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Location Details</h1>

<div class="col-md-6 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>License Plates For Location ID# @ViewBag.ID<small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="" class="table table-striped table-bordered"> <!--add id="Databales" to get feutures-->
                <thead>
                    <tr>
                        <th>LP ID</th>
                        <th>LP Name</th>
                        <th>Date Created</th>
                        <th>Location ID</th>
                        <th>LP Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Lpid</td>
                            <td>@item.Lpname</td>
                            <td>@item.DateCreated</td>
                            <td>@item.LocationId</td>
                            <td>@item.Lptype</td>
                            <td><i class="fa fa-edit"></i></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-primary" asp-action="Dashboard"><< Back</a>
        </div>
    </div>
</div>