﻿@model Ultimate_Packers_Website.ViewModels.LPDetailsViewModel
@{
    ViewData["Title"] = "License Plates Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var id = ViewBag.id;
}

<a class="btn btn-primary" asp-action="Dashboard"><< Back</a>
<a id="modal" href="#modal-container" role="button" class="btn btn-primary" data-toggle="modal">
    Change Location
</a>

<h1>What is in LP# @id ?</h1>

<div>@await Component.InvokeAsync("InventoryDetails", new { id = ViewBag.id, type = "Inventory" })</div>

<div>@await Component.InvokeAsync("InventoryDetails", new { id = ViewBag.id, type = "Damaged" })</div>

<div class="modal" id="modal-container" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="body">

    </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#modal').click(function () {
                $.ajax({
                    url: '/Admin/ChangeLocation/'+@id,
                    method: 'GET',
                    dataType: 'html',
                    success: function (content) {
                        $('#body').html(content);
                    },
                    error: function (err) {
                        alert(err.status)
                    }
                })
            })
        })
    </script>
}