﻿@model Ultimate_Packers_Website.ViewModels.LPDetailsViewModel


<!--Damaged-->
<div class="col-md-4 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Damaged Items <small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="" class="table table-striped table-bordered">
                <!--add id="datatable" for datatables-->
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Item ID</th>
                        <th>Qty Pieces</th>
                        <th>LP ID</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DamagedItems)
                    {
                        <tr>
                            <td>@item.Item.ItemName</td>
                            <td>@item.ItemId</td>
                            <td>@item.QtyPieces</td>
                            <td>@item.Lpid</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>