﻿@model IEnumerable<Ultimate_Packers_Website.EmployeeModels.TblCustomerList>

@{
    ViewData["Title"] = "CustomersList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1><strong>Customers With Open Orders</strong></h1>

<div class="x_panel">
    <div class="col-md-3">
        <table class="table-bordered" id="Table">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Customer Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="OpenShipments" asp-route-CustomerId="@item.CustomerId" style="color:blue">
                            <i class="fa fa-eye"></i>
                            @item.CustomerId
                        </a>
                    </td>
                    <td>@item.CustomerName</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Table').DataTable({
                pageLength: 100
            })
        })
    </script>
    }

