﻿@model Ultimate_Packers_Website.ViewModels.OpenShipmentsViewModel
@{
    ViewData["Title"] = "OpenBoxes";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var customerID = ViewBag.customerID;
}

<h2><strong>Open Boxes for shippmentID: @ViewBag.ShippmentID</strong></h2>

<div class="x_panel">
    <div class="col-md-5">
        <div>

            <a asp-action="OpenShippments" asp-route-id="@customerID" class="btn btn-primary"><< Back</a>
            <a href="#AddBox" class="btn btn-primary" data-toggle="modal">Add Box</a>
            <a asp-action="Customers" class="btn btn-primary">Cancel</a>
            <span id="Test"></span>

        </div>
        <table class="table-bordered" id="Table">
            <thead>
                <tr>
                    <th>FBA Shippment Box ID</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Boxes)
                {
                    <tr>
                        <td>
                            @*<a href="#BoxDetails" data-toggle="modal" style="color:blue">*@
                            <span id="Details">@item.FbashipmentBoxId</span>
                            @*</a>*@
                        </td>

                        <td>@item.Time</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="BoxDetails" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel" style="font-weight:bolder">
                    Box Details
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-close" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body" id="model-content">

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
    $(document).ready(function () {

        $('#Table').DataTable({
            info: false,
            bPageinate: false,
            //lengthChange: false,
            searching: false,
            pageLength: 100
        });

        $('#Table_paginate').remove();

        $(document).on('click', '#Details', function () {
            var boxId = $(this).text();
            $.ajax({
                url: '@Url.Action("BoxDetails")',
                data: {
                    FbashipmentBoxId: boxId
                },
                dataType: 'html'
            }).complete(function (result) {
                $('#Test').html(result)
            })
        })
    })
    </script>

}
