﻿@model Ultimate_Packers_Website.ViewModels.OpenShipmentsViewModel

@{
    ViewData["Title"] = "CustomerDetails";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var customerID = @ViewBag.CustomerId;
    var customerName = @ViewBag.CustomerName;
}

<a id="modal-AddShippment" href="#AddShippment" role="button" class="btn btn-primary" data-toggle="modal">Add Shippment</a>
<a class="btn btn-primary" asp-action="Customers">Cancel</a>

<h2>Open Shipments For: @ViewBag.CustomerName</h2>
<h3>Customer ID: @ViewBag.CustomerID</h3>

<div class="x_panel">
    <div class="col-md-5">
        <table class="table-bordered" id="Table">
            <thead>
                <tr>
                    <th>FBA Shippment ID</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Qty Boxes</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Shipments)
                {
                    <tr>
                        <td><a asp-action="OpenBoxes" 
                               asp-route-shippmentID="@item.FbashipmentId"
                               asp-route-customerID="@customerID">@item.FbashipmentId</a></td>
                        <td>@item.Address1</td>
                        <td>@item.City</td>
                        <td>@item.State</td>
                        <td>@item.QtyBoxes</td>
                        <td>@item.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>

        
        //function LoadShipmentDetails() {

        //    var id = this.val();

        //    $.ajax({
        //        url: '/Inhouse/ShipmentDetailsArtialView/' + id,
        //        type: 'GET',
        //        dataType: 'html',
        //        success: function (content) {
        //            $('#content').html(content);
        //        },
        //        error: function (err) {
        //            alert("Error: Status code: " + err.status)
        //        }
        //    })
        //}

        //$(document).on("click", "shipmentDetails", function () {
        //    alert("test iif it is triggered");
        //    LoadShipmentDetails()
        //})


        $(document).ready(function () {


            $('#Table').DataTable({
                info: false,
                bPageinate: false,
                lengthChange: false,
                searching: false,
                pageLength: 500
            });
            $('#Table_paginate').remove();
        })
    </script>
}

