﻿@model Ultimate_Packers_Website.GlobalModels.TblItems

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">


    <div class="clearfix"></div>

    <div class="row">
    
    </div>
</div>



<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
     
        <div class="x_content">

            <div class="col-xs-2">
                <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left">
                    <li class="active">
                        <a href="#Item-Details" data-toggle="tab">Item Details</a>
                    </li>
                    <li>
                        <a href="#Vendor" data-toggle="tab">Vendor</a>
                    </li>
                    <li>
                        <a href="#Listing" data-toggle="tab">Listings</a>
                    </li>
                    @{
                        if (Model.Active == true)
                        {
                            <li class="Kit-Components">
                                <a href="#Kit-Components" data-toggle="tab">Kit Componants</a>
                            </li>
                        }
                    }
                </ul>
            </div>

            <div class="col-xs-9">
                <!-- Tab panes -->
                <div class="tab-content">
                    @{
                        if (Model.Active == true)
                        {

                            <div class="tab-pane active" id="Item-Details">
                                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Item Details</h2>

                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">

                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="product-image">
                                                    <img src="~/Template/production/images/prod-1.jpg" alt="..." />
                                                </div>
                                                <div class="product_gallery">
                                                    <a>
                                                        <img src="~/Template/production/images/prod-1.jpg" alt="..." />
                                                    </a>
                                                    <a>
                                                        <img src="~/Template/production/images/prod-2.jpg" alt="..." />
                                                    </a>
                                                    <a>
                                                        <img src="~/Template/production/images/prod-3.jpg" alt="..." />
                                                    </a>
                                                    <a>
                                                        <img src="~/Template/production/images/prod-4.jpg" alt="..." />
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">

                                                <h3 class="prod_title">LOWA Men’s Renegade GTX Mid Hiking Boots Review</h3>

                                                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>
                                                <br />


                                                <br />

                                                <div class="">
                                                    <h2>Size <small>Please select one</small></h2>
                                                    <ul class="list-inline prod_size">
                                                        <li>
                                                            <button type="button" class="btn btn-default btn-xs">Small</button>
                                                        </li>
                                                        <li>
                                                            <button type="button" class="btn btn-default btn-xs">Medium</button>
                                                        </li>
                                                        <li>
                                                            <button type="button" class="btn btn-default btn-xs">Large</button>
                                                        </li>
                                                        <li>
                                                            <button type="button" class="btn btn-default btn-xs">Xtra-Large</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <br />



                                                <div class="">
                                                    <button type="submit" class="btn btn-default btn-md">Add to Inbound Order</button>
                                                    <button type="button" class="btn btn-default btn-md">Add to Outbound Order</button>

                                                </div>



                                            </div>

                                            <div class="">
                                                <br /> <br /> <br />
                                                <div class=""> <strong> ASIN:</strong> <span> B00JHBJ78</span></div>
                                                <div> <strong> FNSKU:</strong> X00JHBJ78</div>
                                                <div> <strong> UPC:</strong> @Model.Upc</div>
                                            </div>

                                            @*<div class="col-md-12">

                                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Home</a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Profile</a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Profile</a>
                                            </li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="Item-Details-tab">
                                                <p>
                                                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                                                    synth. Cosby sweater eu banh mi, qui irure terr.
                                                </p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                                <p>
                                                    Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                                                    booth letterpress, commodo enim craft beer mlkshk aliquip
                                                </p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                                <p>
                                                    xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                                                    photo booth letterpress, commodo enim craft beer mlkshk
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <div class="tab-pane" id="Vendor">Vendor Tab.</div>
                    <div class="tab-pane" id="Listing">Listing Tab.</div>
                    <div class="tab-pane Kit-Components" id="Kit-Components">Kit Components Tab.</div>
                </div>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>