﻿@model IEnumerable<Ultimate_Packers_Website.GlobalModels.TblItems>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Item Number</th>
            <th>SKU</th>
            <th>UPC</th>
            <th>Active</th>
            <th>Client</th>
            <th>Item Image</th>
            <th>Is A Kit</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ItemId" style="color:darkblue">
                    <i class="fa fa-eye"></i>
                    @Html.DisplayFor(modelitem => item.ItemId)
                </a>
            </td>
            <td>@Html.DisplayFor(modelItem => item.ItemName)</td>
            <td>@Html.DisplayFor(modelItem => item.ItemNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Sku)</td>
            <td>@Html.DisplayFor(modelItem => item.Upc)</td>
            <td>@Html.DisplayFor(modelItem => item.Active)</td>
            <td>@Html.DisplayFor(modelItem => item.Client.ClientId)</td>
            <td>@Html.DisplayFor(modelItem => item.ItemImageId)</td>
            <td>@Html.DisplayFor(modelitems => item.IsKit)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
