﻿@model Ultimate_Packers_Website.ViewModels.AdminViewModel

<!--License Plates-->
<div class="col-md-6" style="height:450px; overflow:auto">
    <div class="x_panel">
        <div class="x_title">
            <h2>License Plates</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p>All License Plates</p>
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th>LP ID</th>
                        <th>LP Name</th>
                        <th>Date Created</th>
                        <th>Location ID</th>
                        <th>LP Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.LicencePlates)
                    {
                        <tr>
                            <td>@item.Lpid</td>
                            <td>@item.Lpname</td>
                            <td>@item.DateCreated</td>
                            <td>@item.LocationId</td>
                            <td>@item.Lptype</td>
                            <td>
                                <a asp-action="LPDetails" asp-route-id="@item.Lpid" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
