﻿@model Ultimate_Packers_Website.ViewModels.AdminViewModel
<!--Locations-->
<div class="col-md-6" style="height:450px; overflow:auto">
    <div class="x_panel">
        <div class="x_title">
            <h2>Locations</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p>All Locations</p>
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th>Location ID</th>
                        <th>Name</th>
                        <th>Warehouse ID</th>
                        <th>Aisle</th>
                        <th>Stack</th>
                        <th>Shelf</th>
                        <th>Bin</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Locations)
                    {
                        <tr>
                            <td>@item.LocationId</td>
                            <td>@item.LocationName</td>
                            <td>@item.WarehouseId</td>
                            <td>@item.Aisle</td>
                            <td>@item.Stack</td>
                            <td>@item.Shelf</td>
                            <td>@item.Bin</td>
                            <td>@item.Status</td>
                            <td>
                                <a asp-action="LocationDetails" asp-route-LocationID="@item.LocationId" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                <a class="btn btn-danger btn-xs" href="#modal-container" data-toggle="modal">
                                    <i class="fa fa-trash-o"></i> Delete 
                                    <span style="visibility:hidden" id="Delete">@item.LocationId</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal" id="modal-container" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="body">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    Delete Location <span id="LocationId"></span>?
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="body">
                <form asp-action="DeleteLocation">
                    <input type="hidden" name="LocationId" id="LocationId" />
                    <input type="submit" class="btn btn-danger" value="Delete"/>
                    <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-primary"/>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Delete').click(function () {
                var id = $(this).text();
                $('#LocationId').html(id);
                $('#LocationId').val(id);
            })
        })
    </script>
}